html {
  --color-accent: oklch(0% 0 0);
}

body {
    /* Set line height to 1.5 times the font size
         and use the OS’s UI font as the website font
       */
    font: 100%/1.5 system-ui;
    max-width: 80ch;
    margin-inline: auto;
    padding: 1rem;
}
/* removing the ul, li
*/
nav ul,
nav li {
  display: contents;
}

nav {
  display: flex;
  border-bottom: 1px solid oklch(80% 3% 200);
  margin-bottom: 1rem;
}

nav a {
  flex: 1;
  text-align: center;
  padding: 0.5em;
  text-decoration: none;
  color: inherit;
}

nav a:hover {
  border-bottom: 0.4em solid var(--color-accent);
  background-color: oklch(95% 0 0); ;
}

nav a.current {
  font-weight: bold;
  border-bottom: 0.4em solid oklch(80% 3% 200);
  padding-bottom: 0.1em; 
}

input,
textarea,
button {
  font: inherit;
}

form {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1em;
}

form label {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / -1; 
}

form label span {
  grid-column: 1; 
}

form label input,
form label textarea {
  grid-column: 2; 
  width: 100%;
  box-sizing: border-box;
}

form button {
  grid-column: 1 / -1;
  width: 100%;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  gap: 1em;
}

/* Target each project item */
.projects article {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 3;
}

/* Optional refinements */
.projects h2 {
  margin: 0;
}

h1 {
  font-size: 300%;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
  text-wrap: balance;
}

/*cv*/
section {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding-block: 1rem;
  margin-block: 2rem;
}

.resume-header {
  text-align: center;
  margin-bottom: 1.5rem;
}






  